.grid {
    display: flex;
    flex-wrap: wrap;
    height: 324px;
    width: 638px;
    border: black 1px solid;
}
img{
    height: 100px;
    width: 100px;
    border: black 1px solid;
    margin: 2px;
}